.detailsSectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  box-sizing: content-box;
}

.nextDaysForecastWrapper {
  height: 250px;  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
