
.currentLocationBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #6e707a4d;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.currentLocationIcon {
  display: flex;
  color: var(--main-text-color);
}

.disabledLocation {
  color: #6e707a4d;
}
