.todayHighLightWrapper {
  flex: 1;
}

.todayHighLightContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;

  @media only screen and (min-width: 1024px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.todayHighLightContainer > * {
  @media only screen and (min-width: 1024px) {
    flex: 35%;
    padding: 30px;
    min-height: 120px;
  }
}

.todayHighLightTitle {
  display: block;
  margin-bottom: 30px;
  color: var(--main-text-color);
  font-size: 24px;
  font-weight: 700;
}

.valueInfo {
  font-size: 64px;
  color: var(--main-text-color);

  @media only screen and (min-width: 1024px) {
    font-size: 40px;
  }
}

.humidBarWrapper {
  width: 80%;
  height: 100%;

  @media only screen and (min-width: 1024px) {
    width: 90%;
  }
}

.humidBarContainer {
  height: 8px;
}

.windDirectionWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-text-color);
  gap: 10px;
}

.windDirectionIcon {
  color: var(--des-text-color);
}
