.wrapper {
    height: 100%;
    position: relative;
    
    &::before {
        content: '';
    
        height: 100%;
        width: 100%;
        opacity: .3;
        display: block;
    
        background: url('./assets/images/Cloud-background.png') center 40px;
        background-repeat: no-repeat;
    }
}


.nav-location-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6E707A4D;

    position: absolute;
    right: 12px;
    top: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-location-icon {
    display: flex;
    color: var(--main-text-color);
}