.wrapper {
  display: flex;
  @media only screen and (min-width: 1024px) {
    height: 100vh;
  }
  @media only screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.mainSectionWrapper {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  position: relative;
  
  @media only screen and (max-width: 1024px) {
    height: 100vh;
  }

  &::before {
    content: "";

    height: 100%;
    width: 100%;
    opacity: 0.05;
    display: block;

    position: absolute;
    z-index: -1;

    background: url("./assets/images/Cloud-background.png") center 40px;
    background-repeat: no-repeat;
  }
}

.detailsSectionWrapper {
  overflow: auto;
  @media only screen and (min-width: 1024px) {
    flex-direction: column;
    gap: 15px;
    height: inherit;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media only screen and (max-width: 1024px) {
    padding: 30px;
  }
}
