.mainSectionWrapper {
  height: 100vh;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    content: '';

    height: 100%;
    width: 100%;
    opacity: 0.05;
    display: block;

    position: absolute;
    z-index: -1;

    background: url('./assets/images/Cloud-background.png') center 40px;
    background-repeat: no-repeat;
  }
}